 <div class="bring-down page-container">
 	<div class="header-container">
 		<h1 class="center-text">Contract Idea Submission</h1>
 	</div>

  <%= render 'form' %>
  <%= link_to 'Back', challenges_path %>

</div>