<style>
  .font-bigger
  {
    font-size: 16px
  }

  .towards-bottom {
    margin-top: 100px;
  }

  .margin-top {
    margin-top: 50px;
  }
</style>

<div class="page-container">
  <div class="bring-down page-padding">

    <h2>Contract Description</h2><br>
      <div class="row">
        <div class="col-sm-12">
          <div class="panel-bordered">
            <div class="panel-body">
              <p class = "text-justify font-bigger">
                <strong><%= @user_contract_idea.title %></strong><br><br>
                <%= @user_contract_idea.description %>
              </p>
              </div>
            </div>
          </div>
        </div>
        <hr>

        <h2>Contract Code</h2><br>
          <div class="row">
            <div class="col-sm-12">
              <div class="panel-bordered">
                <div class="panel-body">
                  <textarea class = "codemirror-textarea"><%= @user_contract_idea.code %></textarea>
                </div>
              </div>
            </div>
          </div>


  
  </div>
</div>