<section id="header" class="grey-bg text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="wow fadeInUp" style="color:white">We've hidden funds for hackers to find</h2>
                    <p class="wow fadeInUp" data-wow-delay=".2s" style="color:white; text-shadow: #000 2px 2px">Learn and exploit blockchain technology to earn cryptocurrency in our playground and abroad.</p>
                </div>
                <div id="scroll-down" class="wow fadeInUp" data-wow-delay=".3s"></div>
            </div>
        </div>
 </section>