<div class="row">
  <div class="col-sm-5">
    <div class="panel panel-default">
      <% @comments.each do |comment| %>

        <div class="comment">
          <div class="comment-header"><strong><span class="text-muted">posted <%= time_ago_in_words(comment.created_at) %> ago</span> by <%= comment.user.username %></strong>
          </div>
          <div class="comment-body">
              <%= comment.body %>
          </div>
          <br>
            <% end %>
        </div>
    </div>
  </div><!-- /col-sm-5 -->
  </div><!-- /row -->

