<% @comments.each do |comment| %>

  <div class="row">
    <div class="col-sm-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong><%= comment.user.username %></strong> <span class="text-muted pull-right"><%= comment.created_at.to_formatted_s(:short) %></span>
        </div>
        <div class="panel-body">
          <%= comment.body %>
      </div><!-- /panel-body -->
    </div><!-- /panel panel-default -->
    <div>
    </div>
  </div><!-- /col-sm-5 -->
  </div><!-- /row -->
<% end %>
