<div class="page-container">
<div class="bring-down">
<br><br>

<h2 class = "center-text margin-bottom">Edit your code</h2>


<div class="panel panel-widget">
Code submitted <%= time_ago_in_words(@submission.created_at) %> ago
<div class="panel-body">
<%= render 'formedit' %>


<p class="text-center">
<%= link_to 'Back', challenge_submissions_path, class: 'black-font' %>
</p>

</div>
</div>
