<div class="page-container">
	<div class="bring-down">
		<h2 class = "center-text margin-bottom">Edit your code</h2>
		<br>


		<%= render 'formedit' %>
		<p class="text-center"><%= link_to 'Back', challenge_submissions_path, class: 'black-font' %></p>
	</div>
</div>
