<div class="page-container">
<div class="bring-down">
	<br><br>

	<div class="row">
    	<div class="col-sm-offset-1 col-sm-10">
			<h2>Challenge Description</h2><br>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-offset-1 col-sm-10">
			<div class="panel">
				<div class="panel-body">
					<p>
  						<%= @challenge.body %>
					</p>
				</div>
			</div>
		</div>	
	</div>

	<br>

	
	<div class="row">
    	<div class="col-sm-offset-1 col-sm-10">
    	<h2>Solution Description</h2><br>
			<div class="panel">
				<div class="panel-body">
					<p>Please include a detailed description of your hack with snippets of any code/commands that you wrote</p>
				

	<%= render 'form' %>
	</div>
			</div>
	<%= link_to 'Back', challenge_submissions_path %>
</div>
</div>