<div class="bring-down">
<div class="header-container">
	<h1>New Submission</h1>
</div>

<p class = "well text-justify">
  <strong>Challenge Text:</strong><br><br>
  <%= @challenge.body %>
</p>

<%= render 'form' %>

<%= link_to 'Back', challenge_submissions_path %>
</div>