<div class="bring-down">
<div class="header-container">
	<h1 class="center-text">Editing Challenge</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', @challenge %> |
<%= link_to 'Back', challenges_path %>
</div>